<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/home.html</title>
</head>
<body>
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			<strong sec:authentication="name"></strong>님 로그인중
			<a th:href="@{/test/logout}">로그아웃</a>
		</div>
		<div sec:authorize="!isAuthenticated()">
			<a th:href="@{/test/login}">로그인</a>
		</div>
		
		<h1>인덱스 페이지 입니다</h1>
		<a th:href="@{/play}">놀러가기</a>

		<h3>공지 사항</h3>
		<ul>
			<li th:each="tmp : ${notice}">[[${tmp}]]</li>
		</ul>
	</div>
</body>
</html>